includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: 5
    # TODO
    #level: max
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - plugin.php
        - includes/safe-unzip-rollback/rollbacks.php
        - includes/db/db.php
        - includes/db/class-wp-upgrader-db.php
        - includes/db/class-wp-upgrader-db-plugin.php
        - includes/db/class-wp-upgrader-db-theme.php
        - includes/db/example-plugin-db-upgrader.php
        - includes/dependencies/dependencies.php
