includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: 5
    # TODO
    #level: max
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - plugin.php
        - rollbacks.php
        - db.php
        - class-wp-upgrader-db.php
        - class-wp-upgrader-db-plugin.php
        - dependencies.php
